/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
    --background-color: #f4f4f4;
    --default-color: #333333;
    --accent-color: #008080;
    --accent-color-hover: #20c997;
    --surface-color: #f4f4f4;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    background: var(--background-color);
    color: var(--default-color);
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--accent-color-hover);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
    color: var(--accent-color);
  }
  h1:hover{
    color: var(--accent-color-hover);
  }

  .btn-primary,
  .bg-primary {
    background: var(--accent-color) !important;
    border: none !important;
  }

  .btn-primary:hover{
    background: var(--accent-color-hover)!important;
    color: var(--contrast-color) !important;
  }

  .btn-primary-outline{
    background: transparent !important;
    border: 1px solid var(--accent-color) !important;
    color: var(--accent-color) !important;
  }

  .btn-primary-outline:hover{
    background: var(--accent-color)!important;
    color: var(--contrast-color) !important;
    border: 1px solid var(--accent-color-hover)!important;
  }